<h2>{{ 'global.hello'|trans }},</h2>

<p style="font-size: 18px; line-height: 22px">
    {{ 'email.notification_info'|trans({'%company%': company.name, '%user%': user}) }}<br/><br/>
    {{ 'email.footer'|trans|raw }}
</p>