{% extends 'layout_panel.html.twig' %}

{% block head %}
    {{ 'global.payment'|trans }}
{% endblock %}

{% block body %}
    <div class="box box-primary">
        <div class="box-body">
            <div class="products" style="margin-bottom: 0">
                <div class="product-details">
                    <p style="font-size: 120%; color: green" class="margin-bottom">
                        Dziękujemy za zakup konta premium. Twoje konto jest ważne rok.
                    </p>
                    <p>
                        Okres ważności konta od <b>{{ termStart }}</b> do <b>{{ termEnd }}</b>
                    </p>
                    <p>
                        <a href="{{ path('payment_account') }}" class="btn btn-primary">Powrót</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}