<div class="panel panel-default panel-instruction">
    <div class="panel-body">
        <h3>{{ 'global.instruction'|trans }}</h3>
        <p>
            {{ 'global.instruction_info2'|trans }}
        </p>
        <div class="text-center">
            <a href="javascript:void(0)" class="btn btn-default instruction-button">{{ 'global.read_more'|trans }}</a>
        </div>
    </div>
</div>

<div class="modal fade" id="instructionModal" tabindex="-1" role="dialog" aria-labelledby="instructionModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg2" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="margin-bottom-30 margin-top-30">
                    <h3 class="text-center">{{ 'global.instruction'|trans }}</h3>
                    <div class="margin-top-10">&nbsp;</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar vel sapien ac eleifend. Suspendisse non purus et elit interdum lacinia. Donec sed finibus nisl. Mauris at mauris et urna commodo blandit. Mauris id tortor et arcu cursus pellentesque a nec mauris. Nam sollicitudin at arcu nec tempus. In risus justo, ornare et purus non, efficitur pulvinar nisi. Quisque eu pharetra velit, eleifend sagittis elit. Mauris scelerisque, diam at molestie facilisis, lacus felis semper velit, vitae vestibulum nisi libero id ante. Morbi vel tristique eros. Integer sed mi ut est blandit fermentum in cursus orci.</p>
                    <p>Phasellus sed neque eu nisi vulputate euismod. Sed eu urna ac quam sodales blandit. Mauris mi turpis, aliquam in tincidunt vitae, ultricies eu elit. Nunc a augue et ipsum commodo dictum. Sed odio velit, dignissim ut porttitor sit amet, hendrerit aliquam magna. Pellentesque facilisis sagittis orci, maximus gravida justo posuere ac. Etiam sit amet purus in nulla accumsan viverra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    <p>Fusce tempor et erat sodales condimentum. Praesent laoreet ante ipsum, nec auctor erat pharetra in. Cras quis eros turpis. Phasellus accumsan nec tortor vel rutrum. Nulla facilisi. Nulla porta sit amet eros eget mollis. Mauris sit amet sagittis enim, sit amet ullamcorper enim. Proin non urna risus. Vestibulum dictum metus et orci placerat, quis bibendum ligula semper. Nullam sem justo, condimentum ac diam quis, sollicitudin fermentum lorem. Pellentesque eleifend elit feugiat sem cursus malesuada. Morbi nec sem varius, tempor mauris eu, aliquet est. Proin neque neque, mattis id arcu a, pulvinar porta dolor. Vestibulum purus metus, iaculis sed scelerisque eget, commodo blandit nulla. Nam ut velit leo.</p>
                    <p>Donec a nisi in urna condimentum hendrerit at nec arcu. Nullam placerat, tortor consequat scelerisque congue, orci ex luctus elit, tristique tempus augue enim et dui. In iaculis blandit metus non pretium. Etiam semper egestas sapien non faucibus. Aenean viverra euismod turpis, in scelerisque ipsum pharetra et. Quisque ut tellus eget odio blandit pellentesque. Vivamus luctus vel quam et varius.</p>
                    <p>Pellentesque ullamcorper at justo id ornare. In vel turpis hendrerit, vulputate erat ac, venenatis sem. Vivamus erat justo, condimentum condimentum rutrum sed, dictum eget tortor. Maecenas lacinia congue ante, ut ultrices ipsum ullamcorper eget. Nullam quam risus, suscipit sed lacus sed, elementum faucibus eros. Fusce dolor augue, blandit eu tincidunt ac, finibus et quam. Morbi tincidunt metus nulla, vitae aliquam diam iaculis ut. Ut at tempor ante, auctor congue neque. Sed enim tellus, laoreet non nunc at, convallis tincidunt nulla. Nullam placerat lacus sit amet massa venenatis, eu porttitor odio molestie. Etiam scelerisque aliquam purus, ac convallis nisl laoreet id. In in dui mauris. Pellentesque et neque consectetur, interdum massa sed, molestie dui. Ut vitae ipsum at dui efficitur vehicula. Nullam tellus felis, condimentum in ex sodales, viverra convallis justo. Sed ullamcorper, diam vulputate sodales hendrerit, lacus lorem iaculis nisi, et pretium elit nisl vel augue.</p>
                </div>
            </div>
        </div>
    </div>
</div>