{% extends 'layout_panel.html.twig' %}

{% block head %}
    <h1>{{ 'global.documents'|trans }}</h1>
{% endblock %}

{% block body %}
    <div class="box box-primary">
        <div class="box-body">
            <div class="row margin-top-10 font-130">
                <div class="col-sm-5">
                    {{ 'global.patterns_name.notify'|trans }}
                </div>
                <div class="col-sm-2">
                    <a href="{{ path('document_download_pdf_manager') }}"
                       target="_blank">
                        <span class="fa fa-file-text text-danger"></span>
                        {{ 'global.download_pdf'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}