{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <div {% if center_area is defined %}class="center-area"{% endif %}>
        <div class="wrapper {% if center_area is defined %}vertical-center{% endif %}">
            <div class="content-wrapper content-wrapper-fron"
                 style="margin-left: 0; padding-top: 30px; padding-bottom: 20px">
                {% block body %}{% endblock %}
                <div class="container text-center union-info">

                    <footer class="text-center">
                        <a href="https://bip.kujawsko-pomorskie.pl" target="_blank">
                            <img src="{{ asset('build/images/logo_unia.png') }}" style="width: 90%"/>
                        </a>
                    </footer>

                    <div class="union-text margin-top-20">
                        {{ 'global.union_info'|trans }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}